<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucb.dcm"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ucb.dcm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ucb.dcm.ViewShowFragment" />
        <activity android:name="com.ucb.dcm.NowActivity" />
        <activity android:name="com.ucb.dcm.DisplayVenueActivity" />
        <activity
            android:name="com.ucb.dcm.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.ucb.dcm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ucb.dcm.MainActivity" />
        </activity>
    </application>

</manifest>
